
.dropdown-item.highlighted {
    color: #1e2125;;
    background-color: rgba(0,0,0,0.075);
}

.table-hover>tbody>tr.highlighted >* {
    color: #1e2125;;
    background-color: rgba(0,0,0,0.075);
}

.game-image-container.active {
    outline: 5px solid rgba(69,130,236,1) !important;
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}

.center {
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.nav-link.text-dark.active {
    color: #fff !important;
}

.disabled {
    pointer-events: none;
}

.fa-disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}


/* .stretchy-wrapper {
    width: 100%;
    padding-bottom: 75%;
    position: relative;
    background: var(--bs-background-color12);
    overflow: hidden;
}

.stretchy-wrapper > div {
    position: absolute;
    top: -16.75%; bottom: 0; left: 0; right: 0;
}

.ratio-4x3 {
    --bs-aspect-ratio: 75%;
}   */

@media (max-width: 991.98px) {
    .show-lg {
        display: none !important;
    }

    .show-md {
        display: block !important;
    }

    .games-container {
        margin-top: 15px;       
    }   
}
 /*768*/
@media (min-width: 992px) {
    .show-lg {
        display: block !important;
    }

    .show-md {
        display: none !important;
    }

    .games-container {
        margin-left: 280px;       
    }    
}

/* .dropdown-menu{
    transform: translate3d(5px, 35px, 0px)!important;
} */

