
.dropdown-item.highlighted {
    color: #1e2125;;
    background-color: #e9ecef;
}

.game-image-container.active img {
    outline: 5px solid rgba(69,130,236,1) !important;
}

@media (max-width: 991.98px) {
    .show-lg {
        display: none !important;
    }

    .show-md {
        display: block !important;
    }

    .games-container {
        margin-top: 15px;       
    }   
}
 /*768*/
@media (min-width: 992px) {
    .show-lg {
        display: block !important;
    }

    .show-md {
        display: none !important;
    }

    .games-container {
        margin-left: 280px;       
    }    
}

/* .dropdown-menu{
    transform: translate3d(5px, 35px, 0px)!important;
} */

