@model GameStatsApp.Model.ViewModels.ActivateViewModel

@{ ViewBag.Title = "Create Account"; }

<div class="mx-auto" style="max-width:400px;">
    <activate :islinkvalid="@Json.Serialize(Model.IsValid)"></activate>
</div>






