@model GameStatsApp.Model.ViewModels.ChangePasswordViewModel

@{ ViewBag.Title = "Change Password"; }

<div class="mx-auto" style="max-width:400px;">
    <change-password :islinkvalid="@Json.Serialize(Model.IsValid)"/>
</div>






