
@model GameStatsApp.Model.ViewModels.SignUpViewModel;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{ ViewBag.Title = "Login"; }

<div class="mx-auto" style="max-width:400px;">
    <login :gclientid="'@(Configuration.GetSection("SiteSettings").GetSection("GoogleClientID").Value)'"/>
</div>









